<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (KeyValuePair<string, string> column in ViewBag.columns)
            {
            <span>
        
                <input type="radio" name="searchType" id="@column.Key" value="@column.Key" @if(ViewBag.searchType == column.Key){ <text>checked</text> }/>

                <label for="@column.Key">@column.Value</label>
            </span>
            }

        </p>

        <p>

            <label for="searchTerm">Keyword:</label>

            <input type="text" name="searchTerm" id="searchTerm" @if (ViewBag.searchTerm != null) { <text>value="@ViewBag.searchTerm"</text>} />

        </p>

        <input type="submit" value="Search" />
        <script>
            function resetClicked() {
                all.checked = true;
                searchTerm.value = '';
            }
        </script>
        <input type="button" value="Reset" onclick="resetClicked()"/>
    </form>

    <hr />

    @await Html.PartialAsync("JobTable")

</div>