<div class="container body-content">
    <h1>@ViewBag.title</h1>
    <h2 class="centered">View Jobs By Category</h2>
</div>

<table class="centeredTable">
    <tr>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <th>@column.Value</th>            
        }
    </tr>
    <tr>
        <td>
            <a asp-controller="List" asp-action="Jobs" asp-route-column="all">All</a>
        </td>
        @foreach (KeyValuePair<string, List<JobField>> entry in ViewBag.tableChoices)
        {
            <td>
                <ul>
                    @foreach (JobField jobField in entry.Value)
                    {
                        <li>
                            <a asp-controller="List" asp-action="Jobs" asp-route-column="@entry.Key" asp-route-value="@jobField">@jobField</a>
                        </li>
                    }
                </ul>
            </td>            
        }
    </tr>
        </table>
